@{
  Layout = "_Layout";
}

@using Bakery.Models

<h2>Welcome to the Bakery.</h2>
<hr />
<div class="row">
  <div class="col-6">
    <h4>Treats:</h4>
    @if (User.Identity.IsAuthenticated)
    {
      <p><em>@Html.ActionLink("Create a new Treat", "Create", "Treats")</em></p>
    }
    <ul>
      
      @foreach (Treat treat in ViewBag.Treats)
      {
        string flavorTreats = "";
        @foreach (FlavorTreat ft in treat.FlavorTreats)
        {
          flavorTreats += ft.FlavorId.ToString();
        }
        <li id='@("T"+treat.TreatId)' data-flavortreats=@flavorTreats>@treat.Description - $@treat.Price <em>@Html.ActionLink("Details", "Details", "Treats", new {id = treat.TreatId})</em></li>
      }
    </ul>
  </div>
  <div class="col-6">
    <h4>Flavors:</h4>
    @if (User.Identity.IsAuthenticated)
    {
      <p><em>@Html.ActionLink("Create a new Flavor", "Create", "Flavors")</em></p>
    }
    <ul>
      @foreach (Flavor flavor in ViewBag.Flavors)
      {
        string flavorTreats2 = "";
        @foreach (FlavorTreat ft in flavor.FlavorTreats)
        {
          flavorTreats2 += ft.TreatId.ToString();
        }
        <li id='@("F"+flavor.FlavorId)' data-flavortreats=@flavorTreats2>@flavor.Description <em>@Html.ActionLink("Details", "Details", "Flavors", new {id = flavor.FlavorId})</em></li>
      }
    </ul>
  </div>
</div>
<hr />
<p><em>Tip: hover over an item to see its matching flavors / treats.</em></p>

<script src="~/js/index.js"></script>